<!-- /////////////////////////////////////////////// -->
<!-- header -->

<header class="header">
  <div class="ctn_header">
    <a href="/">
      <svg
        width="281"
        height="67"
        viewBox="0 0 281 67"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="title_header"
      >
        <path
          d="M29.238 26.296C29.238 28.492 28.734 30.508 27.726 32.344C26.718 34.144 25.17 35.602 23.082 36.718C20.994 37.834 18.402 38.392 15.306 38.392H9.582V52H0.348V14.092H15.306C18.33 14.092 20.886 14.614 22.974 15.658C25.062 16.702 26.628 18.142 27.672 19.978C28.716 21.814 29.238 23.92 29.238 26.296ZM14.604 31.048C16.368 31.048 17.682 30.634 18.546 29.806C19.41 28.978 19.842 27.808 19.842 26.296C19.842 24.784 19.41 23.614 18.546 22.786C17.682 21.958 16.368 21.544 14.604 21.544H9.582V31.048H14.604ZM32.2093 36.88C32.2093 33.784 32.7853 31.066 33.9373 28.726C35.1253 26.386 36.7273 24.586 38.7433 23.326C40.7593 22.066 43.0093 21.436 45.4933 21.436C47.6173 21.436 49.4713 21.868 51.0553 22.732C52.6753 23.596 53.9173 24.73 54.7813 26.134V21.868H64.0153V52H54.7813V47.734C53.8813 49.138 52.6213 50.272 51.0013 51.136C49.4173 52 47.5633 52.432 45.4393 52.432C42.9913 52.432 40.7593 51.802 38.7433 50.542C36.7273 49.246 35.1253 47.428 33.9373 45.088C32.7853 42.712 32.2093 39.976 32.2093 36.88ZM54.7813 36.934C54.7813 34.63 54.1333 32.812 52.8373 31.48C51.5773 30.148 50.0293 29.482 48.1933 29.482C46.3573 29.482 44.7913 30.148 43.4953 31.48C42.2353 32.776 41.6053 34.576 41.6053 36.88C41.6053 39.184 42.2353 41.02 43.4953 42.388C44.7913 43.72 46.3573 44.386 48.1933 44.386C50.0293 44.386 51.5773 43.72 52.8373 42.388C54.1333 41.056 54.7813 39.238 54.7813 36.934ZM104.981 21.544C108.509 21.544 111.317 22.696 113.405 25C115.529 27.268 116.591 30.4 116.591 34.396V52H107.411V35.638C107.411 33.622 106.889 32.056 105.845 30.94C104.801 29.824 103.397 29.266 101.633 29.266C99.8694 29.266 98.4654 29.824 97.4214 30.94C96.3774 32.056 95.8554 33.622 95.8554 35.638V52H86.6214V21.868H95.8554V25.864C96.7914 24.532 98.0514 23.488 99.6354 22.732C101.219 21.94 103.001 21.544 104.981 21.544ZM121.172 36.88C121.172 33.784 121.748 31.066 122.9 28.726C124.088 26.386 125.69 24.586 127.706 23.326C129.722 22.066 131.972 21.436 134.456 21.436C136.436 21.436 138.236 21.85 139.856 22.678C141.512 23.506 142.808 24.622 143.744 26.026V12.04H152.978V52H143.744V47.68C142.88 49.12 141.638 50.272 140.018 51.136C138.434 52 136.58 52.432 134.456 52.432C131.972 52.432 129.722 51.802 127.706 50.542C125.69 49.246 124.088 47.428 122.9 45.088C121.748 42.712 121.172 39.976 121.172 36.88ZM143.744 36.934C143.744 34.63 143.096 32.812 141.8 31.48C140.54 30.148 138.992 29.482 137.156 29.482C135.32 29.482 133.754 30.148 132.458 31.48C131.198 32.776 130.568 34.576 130.568 36.88C130.568 39.184 131.198 41.02 132.458 42.388C133.754 43.72 135.32 44.386 137.156 44.386C138.992 44.386 140.54 43.72 141.8 42.388C143.096 41.056 143.744 39.238 143.744 36.934ZM188.063 36.448C188.063 37.312 188.009 38.212 187.901 39.148H167.003C167.147 41.02 167.741 42.46 168.785 43.468C169.865 44.44 171.179 44.926 172.727 44.926C175.031 44.926 176.633 43.954 177.533 42.01H187.361C186.857 43.99 185.939 45.772 184.607 47.356C183.311 48.94 181.673 50.182 179.693 51.082C177.713 51.982 175.499 52.432 173.051 52.432C170.099 52.432 167.471 51.802 165.167 50.542C162.863 49.282 161.063 47.482 159.767 45.142C158.471 42.802 157.823 40.066 157.823 36.934C157.823 33.802 158.453 31.066 159.713 28.726C161.009 26.386 162.809 24.586 165.113 23.326C167.417 22.066 170.063 21.436 173.051 21.436C175.967 21.436 178.559 22.048 180.827 23.272C183.095 24.496 184.859 26.242 186.119 28.51C187.415 30.778 188.063 33.424 188.063 36.448ZM178.613 34.018C178.613 32.434 178.073 31.174 176.993 30.238C175.913 29.302 174.563 28.834 172.943 28.834C171.395 28.834 170.081 29.284 169.001 30.184C167.957 31.084 167.309 32.362 167.057 34.018H178.613ZM231.382 21.544C235.126 21.544 238.096 22.678 240.292 24.946C242.524 27.214 243.64 30.364 243.64 34.396V52H234.46V35.638C234.46 33.694 233.938 32.2 232.894 31.156C231.886 30.076 230.482 29.536 228.682 29.536C226.882 29.536 225.46 30.076 224.416 31.156C223.408 32.2 222.904 33.694 222.904 35.638V52H213.724V35.638C213.724 33.694 213.202 32.2 212.158 31.156C211.15 30.076 209.746 29.536 207.946 29.536C206.146 29.536 204.724 30.076 203.68 31.156C202.672 32.2 202.168 33.694 202.168 35.638V52H192.934V21.868H202.168V25.648C203.104 24.388 204.328 23.398 205.84 22.678C207.352 21.922 209.062 21.544 210.97 21.544C213.238 21.544 215.254 22.03 217.018 23.002C218.818 23.974 220.222 25.36 221.23 27.16C222.274 25.504 223.696 24.154 225.496 23.11C227.296 22.066 229.258 21.544 231.382 21.544ZM280.878 21.868L261.978 66.31H252.042L258.954 50.974L246.696 21.868H257.01L263.976 40.714L270.888 21.868H280.878Z"
          fill="#222222"
        />
        <rect x="70" y="22" width="10" height="30" fill="#DCA47D" />
        <path
          d="M63 17L75 4L87 17"
          stroke="#6E1D0E"
          stroke-width="7.1"
          stroke-linejoin="round"
        />
      </svg>
    </a>

    <form method="POST" action="/course/search" class="form_homeOne">
      <i class="uil uil-search icon_search_homeOne"></i>
      <input
        id="search_homeOne"
        type="search"
        name="searchTerm"
        placeholder="Searching..."
        autofocus
        class="input_homeOne"
      />
      <label for="search_homeOne"></label>
    </form>

    <div class="central">
      <% if (!authUser) { %>
      <div class="ctn_auth_header">
        <a href="/auth/signup" class="auth_signup_header">Sign up</a>
        <span class="midLine_auth_header">/</span>
        <a href="/auth/login" class="auth_login_header">Login</a>
      </div>
      <% } %> <% if (authUser) { %>
      <a
        href="/<%= authUser.roleUser %>/mycourses/<%= authUser._id %>"
        class="ctn_image_header"
      >
        <span><%= authUser.firstnameUser[0] %></span>
        <span><%= authUser.lastnameUser[0] %></span>
        <% if (authUser.roleUser == "student") { %>
        <div class="ctn_course_number"></div>
        <% } %> <% if (authUser.roleUser == "instructor") { %>
        <div class="ctn_course_number"></div>
        <% } %>
      </a>
      <% if (authUser.roleUser == "student") { %>
      <a
        href="/<%= authUser.roleUser %>/profile/<%= authUser._id %>"
        class="ctn_image_header"
      >
        <i class="uil uil-graduation-cap icon_header"></i>
      </a>
      <% } %> <% if (authUser.roleUser == "instructor") { %>
      <a
        href="/<%= authUser.roleUser %>/profile/<%= authUser._id %>"
        class="ctn_image_header"
      >
        <iconify-icon icon="tabler:chef-hat" class="icon_header"></iconify-icon>
      </a>
      <% } %> <% } %>

      <div class="ctn_burger">
        <div class="burger"></div>
      </div>
    </div>
  </div>
</header>

<!-- /////////////////////////////////////////////// -->
<!-- side bar header -->

<section class="side_bar_header">
  <ul class="ul_sideBar_header">
    <li>
      <div class="ctn_burger">
        <div class="burger"></div>
      </div>
    </li>
    <li>
      <form method="POST" action="/course/search" class="form_homeOne_sideBar">
        <i class="uil uil-search icon_search_homeOne"></i>
        <input
          id="search_homeOne_sideBar"
          type="search"
          name="searchTerm"
          placeholder="Searching..."
          autofocus
          class="input_homeOne"
        />
        <label for="search_homeOne_sideBar"></label>
      </form>
    </li>
    <li class="ctn_image_headerSidebar">
      <img src="/images/logo_home.png" alt="logo Paindemy" loading="lazy" />
      <% if (authUser) { %>
      <a href="/" class="ctn_image_sidebar">
        <span><%= authUser.firstnameUser[0] %></span>
        <span><%= authUser.lastnameUser[0] %></span>
        <div class="ctn_courseNumber_sidebar">1</div></a
      >
      <% } %>
    </li>
    <% if (authUser) { %>
    <li>
      <div class="centralA">
        <% if (authUser.roleUser == 'instructor') { %>
        <iconify-icon
          icon="tabler:chef-hat"
          class="icon_header_sidebar"
        ></iconify-icon>
        <% } %> <% if (authUser.roleUser == 'student') { %>
        <i class="uil uil-graduation-cap icon_header_sidebar"></i>
        <% } %> Teng-wei Huang
      </div>
    </li>
    <% } %> <% if (!authUser) { %>
    <li class="ctn_sidbar_signup">
      <a href="/auth/signup" class="centralA"
        ><i class="uil uil-illustration icon_sideBar_header"></i> sign up</a
      >
    </li>
    <li class="ctn_sidbar_login">
      <a href="/auth/login" class="centralA"
        ><i class="uil uil-signin icon_sideBar_header"></i> Login</a
      >
    </li>
    <% } %> <% if (authUser) { %> <% if (authUser.roleUser == 'instructor') { %>

    <li>
      <a href="/instructor/newclass" class="centralA"
        ><i class="uil uil-book-alt icon_sideBar_header"></i>New course</a
      >
    </li>
    <% } %>

    <li>
      <a href="/auth/logout" class="centralA"
        ><i class="uil uil-signout icon_sideBar_header"></i> Logout</a
      >
    </li>
    <li>
      <a
        href="/<%= authUser.roleUser %>/delete/<%= authUser._id %>"
        class="centralA"
      >
        <i class="uil uil-minus-circle icon_sideBar_header"></i> Close
        account</a
      >
    </li>
    <% } %>
  </ul>
</section>
