<!-- /////////////////////////////////////////////// -->
<!-- carousel instructors -->

<section class="section_carousels">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner ctn_mid_carousels">
      <div class="carousel-item active ctn_carousels">
        <div class="carousels" style="background: #b3b3b3">
          <div class="left_courses">
            <h2>
              “ A quintessential bread that is synonymous with France is the
              baguette. In fact, it is the most famous bread in France. Though
              there are several types of baguettes mostly based on region, one
              classic that stands out is the traditional baguette. The
              traditional baguette is protected by French law and the
              ingredients used to make this classic thin bread with a crispy
              crust are defined by a law called Décret Pain...
              <a class="">
                read more
                <iconify-icon
                  icon="mdi:more-circle"
                  class="icon_carousels"
                ></iconify-icon> </a
              >”
            </h2>
            <a class="ctn_icon_carousels">
              -- Manon Lambert
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_courses">
            <div class="ctn_mainImg_courses">
              <img src="/images/baguette_R.png" class="d-block" alt="..." />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ctn_carousel">
        <div class="carousels" style="background: #627e65">
          <div class="left_courses">
            <h2>
              “ A quintessential bread that is synonymous with France is the
              baguette. In fact, it is the most famous bread in France. Though
              there are several types of baguettes mostly based on region, one
              classic that stands out is the traditional baguette. The
              traditional baguette is protected by French law and the
              ingredients used to make this classic thin bread with a crispy
              crust are defined by a law called Décret Pain...
              <a class="">
                read more
                <iconify-icon
                  icon="mdi:more-circle"
                  class="icon_carousels"
                ></iconify-icon> </a
              >”
            </h2>
            <a class="ctn_icon_carousels">
              -- Manon Lambert
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_courses">
            <div class="ctn_mainImg_courses">
              <img src="/images/croissant_R.png" class="d-block" alt="..." />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ctn_carousel">
        <div class="carousels" style="background: #d3be4a">
          <div class="left_courses">
            <h2>
              “ A quintessential bread that is synonymous with France is the
              baguette. In fact, it is the most famous bread in France. Though
              there are several types of baguettes mostly based on region, one
              classic that stands out is the traditional baguette. The
              traditional baguette is protected by French law and the
              ingredients used to make this classic thin bread with a crispy
              crust are defined by a law called Décret Pain...
              <a class="">
                read more
                <iconify-icon
                  icon="mdi:more-circle"
                  class="icon_carousels"
                ></iconify-icon> </a
              >”
            </h2>
            <a class="ctn_icon_carousels">
              -- Manon Lambert
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_courses">
            <div class="ctn_mainImg_courses">
              <img src="/images/gua_bao_R.png" class="d-block" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- courses display and template-->
<section class="section_display section_mid">
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA icon_title_display">
        <%- oneCategory[0].iconCategory %>
        <h2 class="title_display">
          <%- oneCategory[0].nameCategory %> Courses
        </h2>
      </div>
      <div class="mid_display">
        <a href="#" class="ctn_viceTitle_display"
          >Show Ramdon
          <iconify-icon
            icon="fa:random"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
  </div>
  <div>
    <ul class="ul_template">
      <% if(typeof manyCourses !== 'undefined' && manyCourses != null &&
      manyCourses.length > 0) { %> <% manyCourses.forEach(function(course){ %>
      <li class="ctn_template mid_template">
        <a href="#">
          <div class="ctn_image_template">
            <div
              loading="lazy"
              class="image_template"
              style="
                background-image: url('/uploads/<%= course.imageCourse %>');
              "
            ></div>
          </div>
        </a>
        <div class="ctn_content_template">
          <ul>
            <li class="content_template">
              <div>
                <i class="uil uil-book-alt icon_content_template"></i>
              </div>
              <div>
                <a href="#"><%= course.nameCourse %></a>
              </div>
            </li>

            <li class="content_template">
              <div>
                <iconify-icon
                  icon="tabler:chef-hat"
                  class="icon_content_template"
                ></iconify-icon>
              </div>
              <div>
                <a href="#"
                  ><%= course.instructorCourse.firstname %> <%=
                  course.instructorCourse.lastname %>
                </a>
              </div>
            </li>

            <li class="content_template">
              <div>
                <i class="uil uil-calender icon_content_template"></i>
              </div>
              <div>
                <a href="#"
                  ><%= course.dateCourse %> / <%= course.timeCourse %>
                </a>
              </div>
            </li>

            <li class="content_template address_template">
              <div>
                <i class="uil uil-map-marker icon_content_template"></i>
              </div>
              <div>
                <a href="#"> <%= course.addressCourse %> </a>
              </div>
            </li>

            <li class="ctn_btns_template">
              <div class="btns_template icon_plus_template">
                <a href="#">
                  <i class="uil uil-plus"></i>
                </a>
              </div>
              <div class="btns_template icon_more_template">
                <a href="/course/course/<%= course.nameCourse %>">
                  <i class="uil uil-ellipsis-h"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <% }) %> <% } else { %>
      <p>
        Sorry, we currently don't have <%- oneCategory[0].nameCategory %> Course
      </p>
      <% } %>
    </ul>
  </div>
</section>
