<!-- /////////////////////////////////////////////// -->
<!-- course -->

<section class="section_course">
  <% if(oneCourse) { %>
  <div class="ctn_course">
    <div class="ctn_midimage_course">
      <a
        title="<%= oneCourse.nameCourse %>"
        href="/course/onecourse/<%= oneCourse._id %>"
      >
        <div class="ctn_image ctn_image_course">
          <div
            loading="lazy"
            class="image image_course"
            style="
              background-image: url('/uploads/<%= oneCourse.imageCourse[0] %>');
            "
          ></div>
        </div>
      </a>

      <ul class="font_image_course ul_imageAddress_course">
        <li>
          <div class="centralA">
            <iconify-icon
              icon="tabler:chef-hat"
              class="icon_imageContent_course"
            ></iconify-icon>
            <div>
              <%= oneCourse.instructorCourse.firstnameUser %> <%=
              oneCourse.instructorCourse.lastnameUser %>
            </div>
          </div>
        </li>
        <li class="ctn_imagedate_course">
          <div class="centralA">
            <i class="uil uil-calender icon_imageContent_course"></i>
            <div
              style="<%= moment(oneCourse.dateCourse).isSame(currentDate, 'day') ? 'color: #72b955;' : moment(oneCourse.dateCourse).isBefore(currentDate, 'day') ? 'color: #ff0066;' : '' %>"
            >
              <%= oneCourse.dateCourse %> / <%= oneCourse.timeCourse %>
            </div>
          </div>
        </li>
        <li class="ctn_imageAddress_course centralA">
          <div>
            <i class="uil uil-map-marker icon_imageContent_course"></i>
          </div>
          <div class="imageAddress_course"><%= oneCourse.addressCourse %></div>
        </li>
      </ul>

      <ul class="font_image_course ul_imageContent_course">
        <li>
          <div class="midLine_imageContent_course"></div>
        </li>
        <li class="style_imageContent_course">
          <div class="icon_imageCategory_course">
            <%- oneCourse.categoryCourse.iconCategory %>
          </div>
        </li>
        <li>
          <div class="midLine_imageContent_course"></div>
        </li>
        <li class="style_imageContent_course">
          <div>
            <iconify-icon
              icon="lucide:wheat"
              class="icon_imageContent_course"
            ></iconify-icon>
          </div>
          <div><%= oneCourse.ingredientsCourse.length %></div>
        </li>
        <li>
          <div class="midLine_imageContent_course"></div>
        </li>
        <li class="style_imageContent_course">
          <div>
            <i class="uil uil-graduation-cap icon_imageContent_course"></i>
          </div>
          <div><%= oneCourse.studentsCourse.length %></div>
        </li>
        <li>
          <div class="midLine_imageContent_course"></div>
        </li>
        <li class="style_imageContent_course">
          <i class="uil uil-fire icon_imageContent_course"></i>
          <div><%= oneCourse.caloriesCourse %></div>
        </li>
        <li>
          <div class="midLine_imageContent_course"></div>
        </li>
      </ul>
    </div>

    <div class="midLine_course"></div>

    <div class="ctn_info_course">
      <div class="ctn_title_display ctn_title_displayCourse">
        <div class="centralA icon_title_display">
          <i class="uil uil-book-alt"></i>
          <h2 class="title_display"><%= oneCourse.nameCourse %></h2>
        </div>
        <% if (authUser && authUser.roleUser == "student" &&
        !authUser.idCoursesRegistered.some(function (idCourseRegistered) {
        return idCourseRegistered.toString() === oneCourse._id.toString() ; })&&
        moment(oneCourse.dateCourse).isSameOrAfter(currentDate)) { %>
        <div class="mid_display mid_display_course" title="Ajouter">
          <a
            href="#"
            class="a_NBorder a_NBorder_course left_btns btn_register_OneCourse"
            id="<%= oneCourse._id %>"
          >
            <i class="uil uil-plus"></i> Ajouter
          </a>
        </div>
        <% } %>
      </div>

      <div class="ctn_intro_course">
        <p><%= oneCourse.descriptionCourse %></p>
      </div>

      <div class="ctn_title_display ctn_title_displayCourse">
        <div class="centralA icon_title_display">
          <i class="uil uil-cell"></i>
          <h2 class="title_display">Ingredients</h2>
        </div>
        <% if ( authUser.idCoursesRegistered.some(function (idCourseRegistered)
        { return idCourseRegistered.toString() === oneCourse._id.toString() ;
        })) { %>
        <div class="mid_display mid_display_course" title="Calculer">
          <a
            href="/<%= authUser.roleUser %>/myspace/<%= oneCourse._id %>"
            class="a_NBorder a_NBorder_course right_btns"
          >
            <i class="uil uil-calculator-alt"></i> Calculer
          </a>
        </div>
        <% } %>
      </div>

      <div class="ctn_intro_course">
        <ol start="0">
          <% if(typeof oneCourse.ingredientsCourse !== 'undefined' &&
          oneCourse.ingredientsCourse != null &&
          oneCourse.ingredientsCourse.length > 0) { %> <%
          oneCourse.ingredientsCourse.forEach((course) => { %>
          <li><%= course %></li>
          <% }) %> <% } else { %>
          <p>No ingredient</p>
          <% } %>
        </ol>
      </div>
    </div>
  </div>

  <% } else { %>

  <p>Aucun résultat pour <%= requestCourse %></p>
  . <% } %>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- courses same category of course -->

<section class="section_display section_mid">
  <div class="errorAxios"></div>
  <div class="ctn_display">
    <% if(oneCourse) { %>
    <div class="ctn_title_display">
      <div class="centralA icon_title_display">
        <%- oneCourse.categoryCourse.iconCategory %>
        <h2 class="title_display">
          <%= oneCourse.categoryCourse.nameCategory %>
        </h2>
      </div>
      <div class="mid_display">
        <a
          title="Aléatoire dans <%= oneCourse.categoryCourse.nameCategory %>"
          href="/course/onecourse/<%= oneCourse.categoryCourse._id %>"
          class="ctn_viceTitle_display"
          >Aléatoire
          <iconify-icon
            icon="fa:random"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <% } %>
    <div>
      <ul class="ul_template">
        <% if(typeof relatedCourses !== 'undefined' && relatedCourses != null &&
        relatedCourses.length > 0) { %> <%
        relatedCourses.forEach(function(relatedCourse){ %>
        <li class="ctn_template mid_template">
          <a
            title="<%= relatedCourse.nameCourse %>"
            href="/course/onecourse/<%= relatedCourse._id %>"
          >
            <div class="ctn_image_template">
              <div
                loading="lazy"
                class="image_template"
                style="
                  background-image: url('/uploads/<%= relatedCourse.imageCourse[0] %>');
                "
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template" title="Nom du cours">
                <div>
                  <i class="uil uil-book-alt icon_content_template"></i>
                </div>
                <div>
                  <a href="/course/onecourse/<%= relatedCourse._id %>"
                    ><%= relatedCourse.nameCourse %>
                  </a>
                </div>
              </li>

              <li
                class="content_template"
                title="Instructeur/Instructrice du cours"
              >
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a
                    href="/course/instructor/<%= relatedCourse.instructorCourse._id %>"
                    ><%= relatedCourse.instructorCourse.firstnameUser %> <%=
                    relatedCourse.instructorCourse.lastnameUser %>
                  </a>
                </div>
              </li>

              <li class="content_template" title="Date et heure du cours">
                <div>
                  <i
                    class="uil uil-calender icon_content_template"
                    style="<%= moment(relatedCourse.dateCourse).isSame(currentDate, 'day') ? 'color: #72b955;' : moment(relatedCourse.dateCourse).isBefore(currentDate, 'day') ? 'color: #ff0066;' : '' %>"
                  ></i>
                </div>
                <div>
                  <a
                    style="<%= moment(relatedCourse.dateCourse).isSame(currentDate, 'day') ? 'color: #72b955;' : moment(relatedCourse.dateCourse).isBefore(currentDate, 'day') ? 'color: #ff0066;' : '' %>"
                    ><%= relatedCourse.dateCourse %> / <%=
                    relatedCourse.timeCourse %>
                  </a>
                </div>
              </li>

              <li
                class="content_template address_template"
                title="Adresse du cours"
              >
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a
                    href="https://www.google.com/maps?q=<%= relatedCourse.addressCourse %>"
                  >
                    <%= relatedCourse.addressCourse %>
                  </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="createdAt_template">
                  <div>
                    <i class="uil uil-clock"></i> <%=
                    relatedCourse.getCreatedAt() %>
                  </div>
                </div>
                <div class="centralA">
                  <% if (authUser && authUser.roleUser == "student" &&
                  !authUser.idCoursesRegistered.some(function
                  (idCourseRegistered) { return idCourseRegistered.toString()
                  === relatedCourse._id.toString() ; })&&
                  moment(relatedCourse.dateCourse).isSameOrAfter(currentDate)) {
                  %>
                  <div
                    class="btns_template icon_plus_template"
                    title="Enregistrer"
                  >
                    <a
                      href="#"
                      class="btn_register_OneCourse"
                      id="<%= relatedCourse._id %>"
                    >
                      <i class="uil uil-plus"></i>
                    </a>
                  </div>
                  <% } %>
                  <div
                    class="btns_template icon_more_template"
                    title="Voir plus"
                  >
                    <a href="/course/onecourse/<%= relatedCourse._id %>">
                      <i class="uil uil-ellipsis-h"></i>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <% }) %> <% } else { %>
        <div class="ctn_msg error_msg">
          <strong>
            Aucun résultat pour <%= oneCourse.categoryCourse.nameCategory %>.
          </strong>
        </div>
        <% } %>
      </ul>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>

<!-- front js -->
<script src="/js/header.js"></script>

<!-- axios js -->
<script src="/to_services/to_course_service.js"></script>
