<!-- /////////////////////////////////////////////// -->
<!-- carousel instructors -->

<section class="section_carousels">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner ctn_mid_carousels">
      <% if (allCourses && allCourses.length > 0) { %>
      <div class="carousel-item active ctn_carousels">
        <div
          class="carousels"
          style="
            background-color: <%= allCourses[0].instructorCourse.themeColorUser
              %>;
          "
        >
          <div class="left_courses">
            <h2>
              “ <%=
              allCourses[0].getBackUrl(allCourses[0].descriptionCourse.slice(0,
              480)) %> ...
              <a href="/course/onecourse/<%= allCourses[0]._id %>">
                Voir plus
                <iconify-icon
                  icon="mdi:more-circle"
                  class="icon_carousels"
                ></iconify-icon
              ></a>
              ”
            </h2>
            <a
              href="/course/instructor/<%= allCourses[0].instructorCourse._id %>"
              class="ctn_icon_carousels"
            >
              -- <%=
              allCourses[0].getBackUrl(allCourses[0].instructorCourse.firstnameUser)
              %> <%=
              allCourses[0].getBackUrl(allCourses[0].instructorCourse.lastnameUser)
              %>
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_courses">
            <div class="ctn_mainImg_courses">
              <img
                src="/uploads/<%= allCourses[0].imageCourse[1] %>"
                class="d-block"
                alt="<%= allCourses[0].getNameCourse() %>"
              />
            </div>
          </div>
        </div>
      </div>
      <% } %> <% if(typeof allCourses !== 'undefined' && allCourses != null &&
      allCourses.length > 0) { %> <%
      allCourses.slice(1).forEach(function(course){ %>
      <div class="carousel-item ctn_carousel">
        <div
          class="carousels"
          style="
            background-color: <%= course.instructorCourse.themeColorUser %>;
          "
        >
          <div class="left_courses">
            <h2>
              “ <%= course.getBackUrl(course.descriptionCourse.slice(0, 480)) %>
              ...
              <a href="/course/oneCourse/<%= course._id %>">
                Voir plus
                <iconify-icon
                  icon="mdi:more-circle"
                  class="icon_carousels"
                ></iconify-icon>
              </a>
              ”
            </h2>
            <a
              href="/course/instructor/<%= course.instructorCourse._id %>"
              class="ctn_icon_carousels"
            >
              -- <%= course.getBackUrl(course.instructorCourse.firstnameUser) %>
              <%- course.getBackUrl(course.instructorCourse.lastnameUser) %>
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_courses">
            <div class="ctn_mainImg_courses">
              <img
                src="/uploads/<%= course.imageCourse[1] %>"
                class="d-block"
                alt="photo <%= course.getNameCourse() %>"
              />
            </div>
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- courses display and template-->
<section class="section_display section_mid">
  <% if (iconCategory && manyCourses.length > 0) { %>
  <div class="errorAxios"></div>
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA icon_title_display">
        <%- iconCategory.iconCategory %>
        <h2 class="title_display"><%= iconCategory.getNameCategory() %></h2>
      </div>
      <div class="mid_display">
        <a
          href="/course/onecourse/<%= iconCategory._id %>"
          class="ctn_viceTitle_display"
          >Aléatoire
          <iconify-icon
            icon="fa:random"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
  </div>
  <% } %>
  <div>
    <ul class="ul_template">
      <% if(typeof manyCourses !== 'undefined' && manyCourses != null &&
      manyCourses.length > 0) { %> <% manyCourses.forEach(function(course){ %>
      <li class="ctn_template mid_template">
        <a href="/course/onecourse/<%= course._id %>">
          <div class="ctn_image_template">
            <div
              loading="lazy"
              class="image_template"
              style="
                background-image: url('/uploads/<%= course.imageCourse[0] %>');
              "
            ></div>
          </div>
        </a>
        <div class="ctn_content_template">
          <ul>
            <li class="content_template">
              <div>
                <i class="uil uil-book-alt icon_content_template"></i>
              </div>
              <div>
                <a href="/course/onecourse/<%= course._id %>"
                  ><%= course.getNameCourse() %>
                </a>
              </div>
            </li>

            <li class="content_template">
              <div>
                <iconify-icon
                  icon="tabler:chef-hat"
                  class="icon_content_template"
                ></iconify-icon>
              </div>
              <div>
                <a href="/course/instructor/<%= course.instructorCourse._id %>"
                  ><%= course.instructorCourse.firstnameUser %> <%=
                  course.instructorCourse.lastnameUser %>
                </a>
              </div>
            </li>

            <li class="content_template">
              <div>
                <i class="uil uil-calender icon_content_template"></i>
              </div>
              <div>
                <a href="#"
                  ><%= course.dateCourse %> / <%= course.timeCourse %>
                </a>
              </div>
            </li>

            <li class="content_template address_template">
              <div>
                <i class="uil uil-map-marker icon_content_template"></i>
              </div>
              <div>
                <a href="#"> <%= course.addressCourse %> </a>
              </div>
            </li>

            <li class="ctn_btns_template">
              <div class="createdAt_template">
                <div>
                  <i class="uil uil-clock"></i> <%= course.getCreatedAt() %>
                </div>
              </div>
              <div class="centralA">
                <% if (authUser && authUser.roleUser == "student" &&
                !authUser.idCoursesRegistered.some(function (idCourseRegistered)
                { return idCourseRegistered.toString() === course._id.toString()
                ; })) { %>
                <div class="btns_template icon_plus_template">
                  <a
                    href="#"
                    class="btn_register_OneCourse"
                    id="<%= course._id %>"
                  >
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <% } %>
                <div class="btns_template icon_more_template">
                  <a href="/course/onecourse/<%= course._id %>">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <% }) %> <% } else { %>
      <div class="ctn_msg error_msg">
        <strong>
          Aucun résultat pour <%= iconCategory.getNameCategory() %>.
        </strong>
      </div>
      <% } %>
    </ul>
  </div>
</section>
