<div><%= instructorUser.firstnameUser %> </div>
<div><%= instructorUser.lastnameUser %> </div>
<div><%= instructorUser.emailUser %> </div>
<div><%= instructorUser.googleIDUser %> </div>
<img src="<%= instructorUser.imageUser %>"></img>
<div><%= instructorUser.roleUser %></div>
