<!-- /////////////////////////////////////////////// -->
<!-- carousel all instructors -->

<section class="section_carousels">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner ctn_mid_carousels">
      <% if (allinstructors && allinstructors.length > 0) { %>
      <div class="carousel-item active ctn_carousels">
        <div
          class="carousels"
          style="background-color: <%= allinstructors[0].themeColorUser %>"
        >
          <div class="filter_instructors"></div>
          <div class="left_instructors">
            <h2>“ <%= allinstructors[0].fathUser %> ”</h2>
            <a
              title="Instructeur/Instructrice <%= allinstructors[0].firstnameUser %> <%=
              allinstructors[0].lastnameUser %>"
              href="/course/instructor/<%= allinstructors[0]._id %>"
              class="central"
            >
              -- <%= allinstructors[0].firstnameUser %> <%=
              allinstructors[0].lastnameUser %>
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_instructors">
            <img
              src="/uploads/<%= allinstructors[0].imageUser[1] %>"
              class="d-block"
              alt="<%= allinstructors[0].firstnameUser %> <%=
              allinstructors[0].lastnameUser %>"
            />
          </div>
        </div>
      </div>
      <% } %> <% if(typeof allinstructors !== 'undefined' && allinstructors !=
      null && allinstructors.length > 0) { %> <%
      allinstructors.slice(1).forEach(instructor => { %>
      <div class="carousel-item ctn_carousel">
        <div
          class="carousels"
          style="background-color: <%= instructor.themeColorUser %>"
        >
          <div class="filter_instructors"></div>

          <div class="left_instructors">
            <h2>“ <%= instructor.fathUser %> ”</h2>
            <a
              title="Instructeur/Instructrice <%= instructor.firstnameUser %> <%= instructor.lastnameUser %>"
              href="/course/instructor/<%= instructor._id %>"
              class="central"
            >
              -- <%= instructor.firstnameUser %> <%= instructor.lastnameUser %>
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_instructors">
            <img
              src="/uploads/<%= instructor.imageUser[1] %>"
              class="d-block"
              alt="<%= instructor.firstnameUser %> <%= instructor.lastnameUser %>"
            />
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- All instructors -->

<section class="section_display section_mid">
  <div class="errorAxios"></div>
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA">
        <iconify-icon
          icon="tabler:chef-hat"
          class="icon_title_display"
        ></iconify-icon>
        <h2 class="title_display">Nos Instructeurs</h2>
      </div>
      <div class="mid_display">
        <a
          title="Aléatoire dans Nos Instructeurs"
          href="/course/instructor/random"
          class="ctn_viceTitle_display"
          >Aléatoire
          <iconify-icon
            icon="fa:random"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ctn_images_instructors">
        <% if(typeof allinstructors !== 'undefined' && allinstructors != null &&
        allinstructors.length > 0) { %> <% allinstructors.forEach(instructor =>
        { %>
        <li
          class="mid_image"
          title="Instructeur/Instructrice <%= instructor.firstnameUser %> <%= instructor.lastnameUser %>"
        >
          <a href="/course/instructor/<%= instructor._id %>">
            <div class="ctn_image ctn_image_instructors">
              <div
                loading="lazy"
                class="image image_instructors"
                style="
                  background-image: url('/uploads/<%= instructor.imageUser[0] %>');
                "
              ></div>
              <h3 class="title_instructors"><%= instructor.firstnameUser %></h3>
            </div>
          </a>
        </li>
        <% }) %> <% } else { %>
        <div class="ctn_msg error_msg">
          <strong>Aucun enseignant disponible.</strong>
        </div>
        <% } %>
      </ul>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>

<!-- front js -->
<script src="/js/header.js"></script>
