<!-- /////////////////////////////////////////////// -->
<!-- my favorite instructor -->
<% if (authUser && authUser.roleUser == 'instructor') { %>

<section class="section_my_space">
  <div class="center_auth center_my_space">
    <h2 class="title_my_space">
      <div class="ctn_icon_mySpace">
        <iconify-icon
          icon="tabler:chef-hat"
          class="icon_my_space"
        ></iconify-icon>
      </div>
      Mon favoris
    </h2>

    <% if(myFavoriteInstructor) { %>
    <div class="ctn_info_mySpace">
      <div class="mid_info_mySpace">
        <a>
          <i class="uil uil-balance-scale mid_icon_mySpace"></i>
          1 kg = 1000 g
        </a>
        <a href="#">
          <i class="uil uil-book-alt mid_icon_mySpace"></i>
          <%= myFavoriteInstructor.nameFavorite %>
        </a>
        <a href="#">
          <iconify-icon
            icon="tabler:chef-hat"
            class="mid_icon_mySpace"
          ></iconify-icon>
          <%= myFavoriteInstructor.authorFavorite.firstnameUser %> <%=
          myFavoriteInstructor.authorFavorite.lastnameUser %>
        </a>
        <a>
          <i class="uil uil-folder mid_icon_mySpace"></i>
          <%= myFavoriteInstructor.categoryFavorite.nameCategory %>
        </a>
      </div>
    </div>

    <form
      action="/<%= authUser.roleUser %>/myfavorite/<%= myFavoriteInstructor._id %>?_method=PATCH"
      enctype="multipart/form-data"
      method="POST"
    >
      <%- include("partials/message") %>

      <div class="ctn_input_fifty">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input value="<%= myFavoriteInstructor.nameFavorite || "" %>" id="nameFavorite"
          type="text" name="nameFavorite" />
          <span></span>
          <i class="uil uil-heart-alt up_joinus"></i>
          <label for="nameFavorite" class="up_joinus">Nom</label>
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="quantityDough"
            type="text"
            class="quantityDough"
          />
          <span></span>
          <i class="uil uil-balance-scale up_joinus"></i>
          <label for="quantityDough" class="up_joinus">Pâte (kg)</label>
        </div>
      </div>

      <% if(typeof myFavoriteInstructor.ingredientsFavorite !== 'undefined' &&
      myFavoriteInstructor.ingredientsFavorite != null &&
      Object.keys(myFavoriteInstructor.ingredientsFavorite).length > 0 ) { %> <% for (let
      ingredient in myFavoriteInstructor.ingredientsFavorite) { %>
      <div class="ctn_input_fifty ingredient_div_mySpace">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input value="<%= myFavoriteInstructor.ingredientsFavorite[ingredient] || "" %>"
          id="percentageIngredients" type="text" name="percentageIngredients"
          class="percentageIngredients"/>
          <span></span>
          <i class="uil uil-cell up_joinus"></i>
          <label for="percentageIngredients" class="up_joinus"
            ><%= ingredient %> (g)
          </label>
          <input
            type="hidden"
            name="nameIngredientsInstructor"
            value="<%= ingredient %>"
          />
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="resultPercentage"
            type="text"
            class="resultPercentage"
          />
          <span></span>
          <i class="uil uil-percentage up_joinus"></i>
          <label for="resultPercentage" class="up_joinus">0.00</label>
          <button class="dlt_ingredientsBtn_myFavorite minus_btn a_NBorder">
            <i class="uil uil-times up_joinus"></i>
          </button>
        </div>

      </div>
      <% } %> <% } %>

      <div class="ingredient_list_mySpace"></div>

      <div class="ctn_plus_btn">
        <button
          type="button"
          class="addIngredients_btn_mySpace plus_btn a_NBorder"
        >
          + Ingredient
        </button>
      </div>

      <div class="txt_field_auth txt_my_space">
        <textarea name="noteFavorite" id="noteFavorite">
        <%= myFavoriteInstructor.noteFavorite || "" %> 
        </textarea>
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="noteFavorite" class="up_joinus">Notes</label>
      </div>

      <div class="txt_field_auth txt_my_space">
        <select id="categoryFavorite" name="categoryFavorite">
          <option value="">-- Sélectionner une catégorie --</option>
          <% if(typeof allCategoriesNeeded !== 'undefined' &&
          allCategoriesNeeded != null && allCategoriesNeeded.length > 0) { %> <%
          allCategoriesNeeded.forEach((category) => { %>
          <option value="<%= category._id %>" <%= myFavoriteInstructor.categoryFavorite.nameCategory ===
          category.nameCategory ? 'selected' : '' %>>
            <%= category.nameCategory %>
          </option>
          <% }) %> <% } %>
        </select>
        <span></span>
        <i class="uil uil-folder up_joinus"></i>
        <label for="categoryFavorite" class="up_joinus">Catégorie</label>
      </div>

      <div class="txt_field_auth txt_my_space imgMySpace_div">
        <input
          id="imageFavorite"
          type="file"
          name="imageFavorite"
          accept="image/*"
          multiple
          style="opacity: 0"
        />
        <span></span>
        <label for="imageFavorite" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>+ Image
        </label>
      </div>

      <div class="img_list img_list_mySpace"></div>

      <input type="submit" value="Sauvegarder" />
    </form>
    <% } %>
  </div>
</section>

<% } %>

<!-- /////////////////////////////////////////////// -->
<!-- my favorite student -->
<% if (authUser && authUser.roleUser == 'student') { %>

<section class="section_my_space">
  <div class="center_auth center_my_space">
    <h2 class="title_my_space">
      <div class="ctn_icon_mySpace">
        <i class="uil uil-graduation-cap icon_my_space"></i>
      </div>
      Mon favoris
    </h2>

    <% if(myFavoriteStudent) { %>
    <div class="ctn_info_mySpace">
      <div class="mid_info_mySpace">
        <a>
          <i class="uil uil-balance-scale mid_icon_mySpace"></i>
          1 kg = 1000 g
        </a>
        <a href="#">
          <i class="uil uil-book-alt mid_icon_mySpace"></i>
          <%= myFavoriteStudent.nameFavorite %>
        </a>
        <a href="#">
          <i class="uil uil-graduation-cap mid_icon_mySpace"></i>
          <%= myFavoriteStudent.authorFavorite.firstnameUser %> <%=
          myFavoriteStudent.authorFavorite.lastnameUser %>
        </a>
        <a>
          <i class="uil uil-folder mid_icon_mySpace"></i>
          <%= myFavoriteStudent.categoryFavorite.nameCategory %>
        </a>
      </div>
    </div>

    <form
      action="/<%= authUser.roleUser %>/myfavorite/<%= myFavoriteStudent._id %>?_method=PATCH"
      enctype="multipart/form-data"
      method="POST"
    >
      <%- include("partials/message") %>

      <div class="ctn_input_fifty">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input value="<%= myFavoriteStudent.nameFavorite || "" %>" id="nameFavorite"
          type="text" name="nameFavorite" />
          <span></span>
          <i class="uil uil-heart-alt up_joinus"></i>
          <label for="nameFavorite" class="up_joinus">Nom</label>
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="quantityDough"
            type="text"
            class="quantityDough"
          />
          <span></span>
          <i class="uil uil-balance-scale up_joinus"></i>
          <label for="quantityDough" class="up_joinus">Pâte (kg)</label>
        </div>
      </div>

      <% if(typeof myFavoriteStudent.ingredientsFavorite !== 'undefined' &&
      myFavoriteStudent.ingredientsFavorite != null &&
      Object.keys(myFavoriteStudent.ingredientsFavorite).length > 0 ) { %> <% for (let
      ingredient in myFavoriteStudent.ingredientsFavorite) { %>
      <div class="ctn_input_fifty ingredient_div_mySpace">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input value="<%= myFavoriteStudent.ingredientsFavorite[ingredient] || "" %>"
          id="percentageIngredients" type="text" name="percentageIngredients"
          class="percentageIngredients"/>
          <span></span>
          <i class="uil uil-cell up_joinus"></i>
          <label for="percentageIngredients" class="up_joinus"
            ><%= ingredient %> (g)
          </label>
          <input
            type="hidden"
            name="nameIngredientsInstructor"
            value="<%= ingredient %>"
          />
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="resultPercentage"
            type="text"
            class="resultPercentage"
          />
          <span></span>
          <i class="uil uil-percentage up_joinus"></i>
          <label for="resultPercentage" class="up_joinus">0.00</label>
          <button class="dlt_ingredientsBtn_myFavorite minus_btn a_NBorder">
            <i class="uil uil-times up_joinus"></i>
          </button>
        </div>

      </div>
      <% } %> <% } %>

      <div class="ingredient_list_mySpace"></div>

      <div class="ctn_plus_btn">
        <button
          type="button"
          class="addIngredients_btn_mySpace plus_btn a_NBorder"
        >
          + Ingredient
        </button>
      </div>

      <div class="txt_field_auth txt_my_space">
        <textarea name="noteFavorite" id="noteFavorite">
        <%= myFavoriteStudent.noteFavorite || "" %> 
        </textarea>
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="noteFavorite" class="up_joinus">Notes</label>
      </div>

      <div class="txt_field_auth txt_my_space">
        <select id="categoryFavorite" name="categoryFavorite">
          <option value="">-- Sélectionner une catégorie --</option>
          <% if(typeof allCategoriesNeeded !== 'undefined' &&
          allCategoriesNeeded != null && allCategoriesNeeded.length > 0) { %> <%
          allCategoriesNeeded.forEach((category) => { %>
          <option value="<%= category._id %>" <%= myFavoriteStudent.categoryFavorite.nameCategory ===
          category.nameCategory ? 'selected' : '' %>>
            <%= category.nameCategory %>
          </option>
          <% }) %> <% } %>
        </select>
        <span></span>
        <i class="uil uil-folder up_joinus"></i>
        <label for="categoryFavorite" class="up_joinus">Catégorie</label>
      </div>

      <div class="txt_field_auth txt_my_space imgMySpace_div">
        <input
          id="imageFavorite"
          type="file"
          name="imageFavorite"
          accept="image/*"
          multiple
          style="opacity: 0"
        />
        <span></span>
        <label for="imageFavorite" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>+ Image
        </label>
      </div>

      <div class="img_list img_list_mySpace"></div>

      <input type="submit" value="Sauvegarder" />
    </form>
    <% } %>
  </div>
</section>

<% } %>

<%- include("./partials/footer") %>

<!-- front js -->
<script src="/js/header.js"></script>
<script src="/js/my_space.js"></script>
<script src="/js/my_favorite.js"></script>