<!-- /////////////////////////////////////////////// -->
<!--  my profile instructor title-->
<% if (authUser && authUser.roleUser == 'instructor') { %>

<section class="section_title">
  <h2 class="title">
    <iconify-icon icon="tabler:chef-hat" class="icon_title"></iconify-icon> <%=
    authUser.firstnameUser %> <%= authUser.lastnameUser %>
  </h2>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- my profile instructor join us-->
<section class="section_my_profile">
  <div class="center_auth center_my_profile">
    <h2 class="title_my_profile">My profile</h2>
    <form
      action="/<%= authUser.roleUser %>/profile/<%= authUser._id %>?_method=PATCH"
      enctype="multipart/form-data"
      method="POST"
    >
      <%- include("partials/message") %>

      <div class="ctn_input_fifty">
        <div
          class="txt_field_auth txt_my_profile"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input value="<%= authUser.firstnameUser || "" %>" id="firstnameUser"
          type="text" name="firstnameUser"/>
          <span></span>
          <i class="uil uil-parking-circle up_joinus"></i>
          <label for="firstnameUser" class="up_joinus">Firstname</label>
        </div>

        <div
          class="txt_field_auth txt_my_profile"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input value="<%= authUser.lastnameUser || "" %>" id="lastnameUser"
          type="text" name="lastnameUser"/>
          <span></span>
          <i class="uil uil-user-circle up_joinus"></i>
          <label for="lastnameUser" class="up_joinus">Lastname</label>
        </div>
      </div>

      <div class="ctn_input_fifty">
        <div
          class="txt_field_auth txt_my_profile"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input value="<%= authUser.themeColorUser || "" %>"
          id="themeColorUser" type="text" name="themeColorUser"/>
          <span></span>
          <i class="uil uil-swatchbook up_joinus"></i>
          <label for="themeColorUser" class="up_joinus">Theme color</label>
        </div>

        <div
          class="txt_field_auth txt_my_profile"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input value="<%= authUser.fathUser || "" %>" id="fathUser"
          type="text" name="fathUser"/>
          <span></span>
          <i class="uil uil-bookmark up_joinus"></i>
          <label for="fathUser" class="up_joinus">Fath</label>
        </div>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input value="<%= authUser.emailUser || "" %>" id="emailUser"
        type="email" name="emailUser"/>
        <span></span>
        <i class="uil uil-envelope-alt up_joinus"></i>
        <label for="emailUser" class="up_joinus">Email</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input id="passwordUser" type="password" name="passwordUser" />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="passwordUser" class="up_joinus">New password</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input
          id="confirmPasswordUser"
          type="password"
          name="confirmPasswordUser"
        />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="confirmPasswordUser" class="up_joinus"
          >Confirm password</label
        >
      </div>

      <div class="txt_field_auth txt_my_profile">
        <textarea name="introductionUser" id="introductionUser">
<%= authUser.introductionUser || "" %></textarea
        >
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="introductionUser" class="up_joinus">Introduction</label>
      </div>

      <div class="txt_field_auth joinUs_div txt_my_profile">
        <input value="<%= authUser.imageUser || "" %>" id="imageUser"
        type="file" name="imageUser" accept="image/*" multiple style="opacity:
        0" />
        <span></span>
        <label for="imageUser" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>Image update</label
        >
      </div>

      <div class="img_list"></div>

      <input type="submit" value="Save" />
    </form>
  </div>
</section>

<% } %>

<!-- /////////////////////////////////////////////// -->
<!--  my profile student title-->
<% if (authUser && authUser.roleUser == 'student') { %>

<section class="section_title">
  <h2 class="title">
    <i class="uil uil-graduation-cap icon_title"></i> <%= authUser.firstnameUser
    %> <%= authUser.lastnameUser %>
  </h2>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- my profile student display and template-->
<section class="section_my_profile">
  <div class="center_auth center_my_profile">
    <h2 class="title_my_profile">My profile</h2>
    <form
      action="/<%= authUser.roleUser %>/profile/<%= authUser._id %>?_method=PATCH"
      method="POST"
    >
      <%- include("partials/message") %>
      <div class="txt_field_auth txt_my_profile">
        <input value="<%= authUser.firstnameUser || "" %>" id="firstnameUser"
        type="text" name="firstnameUser"/>
        <span></span>
        <i class="uil uil-parking-circle up_joinus"></i>
        <label for="firstnameUser" class="up_joinus">Firstname</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input value="<%= authUser.lastnameUser || "" %>" id="lastnameUser"
        type="text" name="lastnameUser"/>
        <span></span>
        <i class="uil uil-user-circle up_joinus"></i>
        <label for="lastnameUser" class="up_joinus">Lastname</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input value="<%= authUser.emailUser || "" %>" id="emailUser"
        type="email" name="emailUser"/>
        <span></span>
        <i class="uil uil-envelope-alt up_joinus"></i>
        <label for="emailUser" class="up_joinus">Email</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input id="passwordUser" type="password" name="passwordUser" />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="passwordUser" class="up_joinus">New password</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input
          id="confirmPasswordUser"
          type="password"
          name="confirmPasswordUser"
        />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="confirmPasswordUser" class="up_joinus"
          >Confirm password</label
        >
      </div>

      <input type="submit" value="Save" />
    </form>
  </div>
</section>

<% } %>
