<!-- /////////////////////////////////////////////// -->
<!-- my space instructor -->
<section class="section_my_space">
  <div class="center_auth center_my_space">
    <h2 class="title_my_space">
      <div class="ctn_icon_mySpace">
        <iconify-icon icon="carbon:wheat" class="icon_my_space"></iconify-icon>
      </div>
      Mon espace
    </h2>

    <% if(courseFavorite) { %>
    <div class="mid_info_mySpace">
      <a href="#">
        <i class="uil uil-book-alt mid_icon_mySpace"></i>
        <%= courseFavorite.nameCourse %>
      </a>
      <a href="#">
        <iconify-icon
          icon="tabler:chef-hat"
          class="mid_icon_mySpace"
        ></iconify-icon>
        <%= courseFavorite.instructorCourse.firstnameUser %> <%=
        courseFavorite.instructorCourse.lastnameUser %>
      </a>
      <a>
        <i class="uil uil-folder mid_icon_mySpace"></i>
        <%= courseFavorite.categoryCourse.nameCategory %>
      </a>
    </div>

    <form
      action="/<%= authUser.roleUser %>/myspace/<%= courseFavorite._id %>?_method=PATCH"
      enctype="multipart/form-data"
      method="POST"
    >
      <%- include("partials/message") %>

      <div class="ctn_input_fifty">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input id="nameFavorite" type="text" name="nameFavorite" required />
          <span></span>
          <i class="uil uil-heart-alt up_joinus"></i>
          <label for="nameFavorite" class="up_joinus">Nom</label>
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="quantityFavorite"
            type="text"
            name="quantityFavorite"
            required
          />
          <span></span>
          <i class="uil uil-balance-scale up_joinus"></i>
          <label for="quantityFavorite" class="up_joinus">Quantité (kg)</label>
        </div>
      </div>

      <% if(typeof courseFavorite.ingredientsCourse !== 'undefined' &&
      courseFavorite.ingredientsCourse != null &&
      courseFavorite.ingredientsCourse.length > 0) { %> <%
      courseFavorite.ingredientsCourse.forEach((ingredient) => { %>
      <div class="ctn_input_fifty">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input id="firstnameUser" type="text" name="firstnameUser" required />
          <span></span>
          <i class="up_joinus">
            <iconify-icon icon="lucide:wheat"></iconify-icon>
          </i>
          <label for="firstnameUser" class="up_joinus"><%= ingredient %></label>
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input id="lastnameUser" type="text" name="lastnameUser" required />
          <span></span>
          <i class="uil uil-percentage up_joinus"></i>
          <label for="lastnameUser" class="up_joinus"></label>
        </div>
      </div>
      <% }) %> <% } %>

      <div class="ingredient_list">
        <div class="txt_field_auth ingredient_div txt_my_space">
          <input
            id="ingredientsCourse"
            type="text"
            name="ingredientsCourse"
            required
          />
          <span></span>
          <i class="up_joinus">
            <iconify-icon icon="lucide:wheat"></iconify-icon>
          </i>
          <label for="ingredientsCourse" class="up_joinus"
            >Ingredients <span style="color: #72b955">0</span></label
          >
        </div>
      </div>

      <div class="ctn_plus_btn">
        <button type="button" class="add_ingredients_btn plus_btn a_NBorder">
          + Ingredient
        </button>
      </div>

      <div class="txt_field_auth txt_my_space">
        <textarea
          name="introductionUser"
          id="introductionUser"
          required
        ></textarea>
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="introductionUser" class="up_joinus">Notes</label>
      </div>

      <div class="txt_field_auth joinUs_div txt_my_space">
        <input
          id="imageUser"
          type="file"
          name="imageUser"
          accept="image/*"
          multiple
          style="opacity: 0"
          required
        />
        <span></span>
        <label for="imageUser" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>+ Image
        </label>
      </div>

      <div class="img_list img_list_mySpace"></div>

      <input type="submit" value="Sauvegarder" />
    </form>
    <% } %>
  </div>
</section>
