<!-- /////////////////////////////////////////////// -->
<!-- my space instructor -->
<% if (authUser && authUser.roleUser == 'instructor') { %>

<section class="section_my_space">
  <div class="center_auth center_my_space">
    <h2 class="title_my_space">
      <div class="ctn_icon_mySpace">
        <iconify-icon
          icon="tabler:chef-hat"
          class="icon_my_space"
        ></iconify-icon>
      </div>
      Mon espace
    </h2>

    <% if(courseFavorite) { %>
    <div class="ctn_info_mySpace">
      <div class="mid_info_mySpace">
        <a>
          <i class="uil uil-balance-scale mid_icon_mySpace"></i>
          1 kg = 1000 g
        </a>
        <a href="#">
          <i class="uil uil-book-alt mid_icon_mySpace"></i>
          <%= courseFavorite.nameCourse %>
        </a>
        <a href="#">
          <iconify-icon
            icon="tabler:chef-hat"
            class="mid_icon_mySpace"
          ></iconify-icon>
          <%= courseFavorite.instructorCourse.firstnameUser %> <%=
          courseFavorite.instructorCourse.lastnameUser %>
        </a>
        <a>
          <i class="uil uil-folder mid_icon_mySpace"></i>
          <%= courseFavorite.categoryCourse.nameCategory %>
        </a>
      </div>
    </div>

    <form
      action="/<%= authUser.roleUser %>/myspace/<%= courseFavorite._id %>"
      enctype="multipart/form-data"
      method="POST"
    >
      <%- include("partials/message") %>

      <div class="ctn_input_fifty">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input id="nameFavorite" type="text" name="nameFavorite" required />
          <span></span>
          <i class="uil uil-heart-alt up_joinus"></i>
          <label for="nameFavorite" class="up_joinus">Nom</label>
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="quantityDough"
            type="text"
            class="quantityDough"
            required
          />
          <span></span>
          <i class="uil uil-balance-scale up_joinus"></i>
          <label for="quantityDough" class="up_joinus">Pâte (kg)</label>
        </div>
      </div>

      <% if(typeof courseFavorite.ingredientsCourse !== 'undefined' &&
      courseFavorite.ingredientsCourse != null &&
      courseFavorite.ingredientsCourse.length > 0) { %> <%
      courseFavorite.ingredientsCourse.forEach((ingredient) => { %>
      <div class="ctn_input_fifty ingredient_div_mySpace">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="percentageIngredients"
            type="text"
            name="percentageIngredients"
            class="percentageIngredients"
            required
          />
          <span></span>
          <i class="uil uil-cell up_joinus"></i>
          <label for="percentageIngredients" class="up_joinus"
            ><%= ingredient %> (g)
          </label>
          <input
            type="hidden"
            name="nameIngredientsInstructor"
            value="<%= ingredient %>"
          />
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="resultPercentage"
            type="text"
            class="resultPercentage"
            required
          />
          <span></span>
          <i class="uil uil-percentage up_joinus"></i>
          <label for="resultPercentage" class="up_joinus">0.00</label>
        </div>
      </div>
      <% }) %> <% } %>

      <div class="ingredient_list_mySpace"></div>

      <div class="ctn_plus_btn">
        <button
          type="button"
          class="addIngredients_btn_mySpace plus_btn a_NBorder"
        >
          + Ingredient
        </button>
      </div>

      <div class="txt_field_auth txt_my_space">
        <textarea name="noteFavorite" id="noteFavorite" required></textarea>
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="noteFavorite" class="up_joinus">Notes</label>
      </div>

      <div class="txt_field_auth txt_my_space">
        <select id="categoryFavorite" name="categoryFavorite" required>
          <option value="">-- Sélectionner une catégorie --</option>
          <% if(typeof allCategoriesNeeded !== 'undefined' &&
          allCategoriesNeeded != null && allCategoriesNeeded.length > 0) { %> <%
          allCategoriesNeeded.forEach((category) => { %>
          <option value="<%= category._id %>">
            <%= category.nameCategory %>
          </option>
          <% }) %> <% } %>
        </select>
        <span></span>
        <i class="uil uil-folder up_joinus"></i>
        <label for="categoryFavorite" class="up_joinus">Catégorie</label>
      </div>

      <div class="txt_field_auth txt_my_space imgMySpace_div">
        <input
          id="imageFavorite"
          type="file"
          name="imageFavorite"
          accept="image/*"
          multiple
          style="opacity: 0"
          required
        />
        <span></span>
        <label for="imageFavorite" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>+ Image
        </label>
      </div>

      <div class="img_list img_list_mySpace"></div>

      <input type="submit" value="Envoyer" />
    </form>
    <% } %>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- my students instructor -->
<section class="section_my_students section_mid">
  <div class="center_auth center_my_space">
    <h2 class="title_my_space">
      <div class="ctn_icon_mySpace">
        <i class="uil uil-graduation-cap icon_my_space"></i>
      </div>
      Mes élèves
    </h2>

    <% if(courseFavorite) { %>

    <div class="ctn_info_mySpace">
      <div class="mid_info_mySpace">
        <a class="centralA">
          <i class="uil uil-graduation-cap mid_icon_mySpace"></i>
          <div class="ctn_number_myStudents">
            <div class="number_myStudents">
              <%= courseFavorite.studentsCourse.length %>
            </div>
          </div>
        </a>
        <a href="#">
          <i class="uil uil-book-alt mid_icon_mySpace"></i>
          <%= courseFavorite.nameCourse %>
        </a>
        <a href="#">
          <iconify-icon
            icon="tabler:chef-hat"
            class="mid_icon_mySpace"
          ></iconify-icon>
          <%= courseFavorite.instructorCourse.firstnameUser %> <%=
          courseFavorite.instructorCourse.lastnameUser %>
        </a>
        <a>
          <i class="uil uil-folder mid_icon_mySpace"></i>
          <%= courseFavorite.categoryCourse.nameCategory %>
        </a>
      </div>
    </div>

    <form
      id="add_oneStudent_form"
      data-ajaxurl="/auth/addonestudent"
      action="/auth/addonestudent"
    >
      <div class="errorAxios"></div>

      <div class="txt_field_auth txt_my_space">
        <input
          type="hidden"
          name="idCourse"
          value="<%= courseFavorite._id %>"
        />
        <input id="emailUser" type="text" name="emailUser" required />
        <span></span>
        <i class="uil uil-envelope-alt up_joinus"></i>
        <label for="emailUser" class="up_joinus">Adresse mail</label>
        <button class="minus_btn a_NBorder">
          <i class="uil uil-plus up_joinus"></i>
        </button>
      </div>
    </form>

    <div class="myStudent_list">
      <% if(typeof courseFavorite.studentsCourse !== 'undefined' &&
      courseFavorite.studentsCourse != null &&
      courseFavorite.studentsCourse.length > 0) { %> <%
      courseFavorite.studentsCourse.forEach(function(student){ %>
      <div class="ctn_my_students">
        <div class="info_my_students">
          <div class="name_my_students">
            <i class="uil uil-graduation-cap icon_my_students"></i> <%=
            student.firstnameUser %> <%= student.lastnameUser %>
          </div>
          <div class="email_my_students">
            <i class="uil uil-envelope-alt icon_my_students"></i>
            <%= student.emailUser %>
          </div>
        </div>
        <a
          href="#"
          class="btn_deleteOneStudent_myStudents minus_btn a_NBorder"
          student-id="<%= student._id %>"
          course-id="<%= courseFavorite._id %>"
        >
          <i class="uil uil-times"></i>
        </a>
      </div>
      <% }) %> <% } %>
    </div>
    <% } %>
  </div>
</section>

<% } %>

<!-- /////////////////////////////////////////////// -->
<!-- my space student -->
<% if (authUser && authUser.roleUser == 'student') { %>

<section class="section_my_space">
  <div class="center_auth center_my_space">
    <h2 class="title_my_space">
      <div class="ctn_icon_mySpace">
        <i class="uil uil-graduation-cap icon_my_space"></i>
      </div>
      Mon espace
    </h2>

    <% if(courseFavorite) { %>
    <div class="mid_info_mySpace">
      <a href="#">
        <i class="uil uil-book-alt mid_icon_mySpace"></i>
        <%= courseFavorite.nameCourse %>
      </a>
      <a href="#">
        <iconify-icon
          icon="tabler:chef-hat"
          class="mid_icon_mySpace"
        ></iconify-icon>
        <%= courseFavorite.instructorCourse.firstnameUser %> <%=
        courseFavorite.instructorCourse.lastnameUser %>
      </a>
      <a>
        <i class="uil uil-folder mid_icon_mySpace"></i>
        <%= courseFavorite.categoryCourse.nameCategory %>
      </a>
    </div>

    <form
      action="/<%= authUser.roleUser %>/myspace/<%= courseFavorite._id %>"
      enctype="multipart/form-data"
      method="POST"
    >
      <%- include("partials/message") %>

      <div class="ctn_input_fifty">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input id="nameFavorite" type="text" name="nameFavorite" required />
          <span></span>
          <i class="uil uil-heart-alt up_joinus"></i>
          <label for="nameFavorite" class="up_joinus">Nom</label>
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="quantityDough"
            type="text"
            class="quantityDough"
            required
          />
          <span></span>
          <i class="uil uil-balance-scale up_joinus"></i>
          <label for="quantityDough" class="up_joinus">Pâte (kg)</label>
        </div>
      </div>

      <% if(typeof courseFavorite.ingredientsCourse !== 'undefined' &&
      courseFavorite.ingredientsCourse != null &&
      courseFavorite.ingredientsCourse.length > 0) { %> <%
      courseFavorite.ingredientsCourse.forEach((ingredient) => { %>
      <div class="ctn_input_fifty ingredient_div_mySpace">
        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="percentageIngredients"
            type="text"
            name="percentageIngredients"
            class="percentageIngredients"
            required
          />
          <span></span>
          <i class="uil uil-cell up_joinus"></i>
          <label for="percentageIngredients" class="up_joinus"
            ><%= ingredient %> (g)
          </label>
          <input
            type="hidden"
            name="nameIngredientsInstructor"
            value="<%= ingredient %>"
          />
        </div>

        <div
          class="txt_field_auth txt_my_space"
          style="margin: 2.8rem 0 0; width: 50%"
        >
          <input
            id="resultPercentage"
            type="text"
            class="resultPercentage"
            required
          />
          <span></span>
          <i class="uil uil-percentage up_joinus"></i>
          <label for="resultPercentage" class="up_joinus">0.00</label>
        </div>
      </div>
      <% }) %> <% } %>

      <div class="ingredient_list_mySpace"></div>

      <div class="ctn_plus_btn">
        <button
          type="button"
          class="addIngredients_btn_mySpace plus_btn a_NBorder"
        >
          + Ingredient
        </button>
      </div>

      <div class="txt_field_auth txt_my_space">
        <textarea name="noteFavorite" id="noteFavorite" required></textarea>
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="noteFavorite" class="up_joinus">Notes</label>
      </div>

      <div class="txt_field_auth txt_my_space">
        <select id="categoryFavorite" name="categoryFavorite" required>
          <option value="">-- Sélectionner une catégorie --</option>
          <% if(typeof allCategoriesNeeded !== 'undefined' &&
          allCategoriesNeeded != null && allCategoriesNeeded.length > 0) { %> <%
          allCategoriesNeeded.forEach((category) => { %>
          <option value="<%= category._id %>">
            <%= category.nameCategory %>
          </option>
          <% }) %> <% } %>
        </select>
        <span></span>
        <i class="uil uil-folder up_joinus"></i>
        <label for="categoryFavorite" class="up_joinus">Catégorie</label>
      </div>

      <div class="txt_field_auth txt_my_space imgMySpace_div">
        <input
          id="imageFavorite"
          type="file"
          name="imageFavorite"
          accept="image/*"
          multiple
          style="opacity: 0"
          required
        />
        <span></span>
        <label for="imageFavorite" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>+ Image
        </label>
      </div>

      <div class="img_list img_list_mySpace"></div>

      <input type="submit" value="Envoyer" />
    </form>
    <% } %>
  </div>
</section>

<% } %> <%- include("./partials/footer") %>

<!-- front js -->
<script src="/js/header.js"></script>
<script src="/js/my_space.js"></script>

<!-- axios js -->
<script src="/to_services/to_user_service.js"></script>
