<div><%= studentUser.firstnameUser %> </div>
<div><%= studentUser.lastnameUser %> </div>
<div><%= studentUser.emailUser %> </div>
<div><%= studentUser.googleIDUser %> </div>
<img src="<%= studentUser.imageUser %>"></img>
<div><%= studentUser.roleUser %></div>
