<!-- /////////////////////////////////////////////// -->
<!--  update class title-->
<% if (authUser && authUser.roleUser == 'instructor') { %>

<section class="section_title">
  <h2 class="title">
    <iconify-icon icon="tabler:chef-hat" class="icon_title"></iconify-icon> <%=
    authUser.firstnameUser %> <%= authUser.lastnameUser %>
  </h2>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- update class-->
<section class="section_my_profile">
  <div class="center_auth center_my_profile">
    <h2 class="title_my_profile">Update Class</h2>
    <% if (courseUpdate) { %>
    <form
      action="/<%= authUser.roleUser %>/updateclass/<%= courseUpdate._id %>?_method=PATCH"
      method="POST"
      enctype="multipart/form-data"
    >
      <%- include("partials/message") %>

      <div class="txt_field_auth txt_my_profile">
        <input value="<%= courseUpdate.nameCourse || "" %>" id="nameCourse"
        type="text" name="nameCourse" />
        <span></span>
        <i class="uil uil-book-alt up_joinus"></i>
        <label for="nameCourse" class="up_joinus">Nom de la classe</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input value="<%= courseUpdate.dateCourse || "" %>" id="dateCourse"
        type="date" name="dateCourse" min="<%= currentDate %>" />
        <span></span>
        <i class="uil uil-calender up_joinus"></i>
        <label for="dateCourse" class="up_joinus">Date</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input value="<%= courseUpdate.timeCourse || "" %>" id="timeCourse"
        type="time" name="timeCourse" />
        <span></span>
        <i class="uil uil-clock up_joinus"></i>
        <label for="timeCourse" class="up_joinus">Temps</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input value="<%= courseUpdate.addressCourse || "" %>"
        id="addressCourse" type="text" name="addressCourse" />
        <span></span>
        <i class="uil uil-map-marker up_joinus"></i>
        <label for="addressCourse" class="up_joinus">Adresse</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <textarea name="descriptionCourse" id="descriptionCourse">
<%= courseUpdate.descriptionCourse || "" %></textarea
        >
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="descriptionCourse" class="up_joinus">Description</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <select id="categoryCourse" name="categoryCourse">
          <option value="">-- Sélectionner une catégorie --</option>
          <option value="Boulangerie" <%= courseUpdate.categoryCourse === 'Bakery' ? 'selected' : '' %>>Boulangerie</option>
          <option value="Pâtisserie" <%= courseUpdate.categoryCourse === 'Pastry' ? 'selected' : '' %>>Pâtisserie</option>
          <option value="Autre" <%= courseUpdate.categoryCourse === 'Other' ? 'selected' : '' %>>Autre</option>
        </select>
        <span></span>
        <i class="uil uil-folder up_joinus"></i>
        <label for="categoryCourse" class="up_joinus">Calories</label>
      </div>

      <div class="txt_field_auth txt_my_profile">
        <input value="<%= courseUpdate.caloriesCourse || "" %>"
        id="caloriesCourse" type="number" name="caloriesCourse" min="0" />
        <span></span>
        <i class="uil uil-fire up_joinus"></i>
        <label for="caloriesCourse" class="up_joinus">Calories</label>
      </div>

      <div class="ingredient_list">
        <div class="txt_field_auth ingredient_div txt_my_profile">
          <input id="ingredientsCourse" type="text" name="ingredientsCourse" />
          <span></span>
          <i class="up_joinus">
            <iconify-icon icon="lucide:wheat"></iconify-icon>
          </i>
          <label for="ingredientsCourse" class="up_joinus"
            >Ingredients <span style="color: #72b955">0</span></label
          >
        </div>
      </div>

      <div class="ctn_plus_btn">
        <button type="button" class="add_ingredients_btn plus_btn a_NBorder">
          + Ingredient
        </button>
      </div>

      <div class="txt_field_auth imgClass_div txt_my_profile">
        <input
          id="imageCourse"
          type="file"
          name="imageCourse"
          accept="image/*"
          multiple
          style="opacity: 0"
        />
        <span></span>
        <label for="imageCourse" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>+ Image</label
        >
      </div>
      <div class="img_list img_list_myProfile"></div>

      <input type="submit" value="Envoyer" />
    </form>
    <% } %>
  </div>
</section>

<% } %>
